#!/bin/sh
tail -n +3 $0
# This file provides an easy way to add custom menu entries.  Simply type the
# menu entries you want to add after this comment.  Be careful not to change
# the 'exec tail' line above.
set superusers = {{grub_user}}
password_pbkdf2 {{grub_user}} {{grub_password_v2_passwd}}
